@import '../../styles/breakpoints.module.scss';
@import '../../styles/colors.module.scss';
@import '../../styles/fonts.module.scss';

.dropdown {
  display: flex;
  height: 52px;
}

.dropdown select {
  display: block;
  border: 1px solid $white-primary;
  padding: 14px 64px 12px 16px;
  height: 100%;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  @include small-label;
}

.dropdown select:active, .dropdown select:focus {
  outline: 0;
  border: 1px solid $white-primary;
  -moz-outline-style: none;
  outline-style: none;
}

.option {
  border: 1px solid $white-primary;
}

.option:checked {
  @include important;
}

.select {
  @include default;
}

.select:hover {
  @include important;
}

.arrowDown {
  background-image: url('../../public/images/icons/dropdown-down.png');
  background-size: 52px;
  background-position: right;
  background-repeat: no-repeat;
}

.arrowUp {
  background-image: url('../../public/images/icons/dropdown-up.png');
  background-size: 52px;
  background-position: right;
  background-repeat: no-repeat;
}

.arrowDown:hover {
  background-image: url('../../public/images/icons/dropdown-down-active.png');
  background-size: 52px;
  background-position: right;
  background-repeat: no-repeat;
}

.arrowUp:hover {
  background-image: url('../../public/images/icons/dropdown-up-active.png');
  background-size: 52px;
  background-position: right;
  background-repeat: no-repeat;
}