@import '../../styles/breakpoints.module.scss';
@import '../../styles/colors.module.scss';
@import '../../styles/fonts.module.scss';

.project {
  padding: 100px 16px;
  @include md {
    padding: 160px 128px;
  }
  @include lg {
    padding: 160px 150px;
  }
}

.displayTitle {
  padding: 0;
  margin: 0;
  text-align: center;
  color: $white-primary;
  margin-bottom: 16px;
  @include medium-label;
}

.author {
  padding: 0;
  margin: 0;
  text-align: center;
  color: $white-primary;
  @include medium-label;
}

.links {
  margin-top: 60px;
  text-align: center;
  @include small-body;
  @include md {
    margin-top: 150px;
  }
}
.link {
  color: $cyan-secondary;
}
.link:hover {
  opacity: 0.9;
}
.separator {
  color: $gray-primary;
}

.footer {
  display: flex;
  width: 100%;
  margin-bottom: 160px;
  padding: 0 16px;
  @include md {
    padding: 0 36px;
  }
}

.button {
  flex: 1;
}
.nextButton {
  text-align: end;
}
