@import '../../styles/breakpoints.module.scss';
@import '../../styles/colors.module.scss';
@import '../../styles/fonts.module.scss';

.project {
  padding: 80px 0 60px;
  @include lg {
    padding: 120px 0 80px;
  }
}

.displayTitle {
  padding: 0;
  margin: 0;
  text-align: center;
  color: $white-primary;
  @include medium-body;
  @include md {
    @include big-body;
  }
}

.author {
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
  text-align: center;
  color: $white-primary;
  @include medium-body;
  @include md {
    @include big-body;
  }
  @include lg {
    margin-bottom: 30px;
  }
}

.links {
  margin-top: 60px;
  margin-bottom: 30px;
  text-align: center;
  @include small-body;
  @include md {
    margin-top: 150px;
    @include medium-body;
  }
}
.link {
  color: $cyan-secondary;
}
.link:hover {
  opacity: 0.9;
}
.separator {
  color: $gray-primary;
}

.footer {
  display: flex;
  width: 100%;
  margin-bottom: 80px;
}

.button {
  flex: 1;
}
.nextButton {
  text-align: end;
}
