@import '../../styles/breakpoints.module.scss';
@import '../../styles/colors.module.scss';
@import '../../styles/fonts.module.scss';

.important {
  @include important;
}

.default {
  @include default;
}

.button {
  text-align: center;
  border: solid 1px $white-primary;
  padding: 14px 16px 8px;
  cursor: pointer;
  @include small-label;
  @include md {
    @include medium-label;
  }
}

.button:hover {
  @include important;
}

.button:active {
  @include important;
}

.disabled {
  text-align: center;
  border: solid 1px $white-primary;
  padding: 14px 16px 8px;
  cursor: pointer;
  @include small-label;
  @include md {
    @include medium-label;
  }
  @include disabled;
}
