@import '../../styles/colors.module.scss';

.important {
  color: $yellow-primary;
  background-color: $blue-primary;
}

.default {
  color: $blue-primary;
  background-color: $gray-primary;
}

.button {
  text-align: center;
  border: solid 1px #FFF;
  padding: 12px 16px;
  cursor: pointer;
}