@import '../../styles/breakpoints.module.scss';
@import '../../styles/colors.module.scss';
@import '../../styles/fonts.module.scss';

.text {
  margin: 0;
  text-align: center;
  color: $white-primary;
  @include medium-body;
  @include md {
    @include big-body;
  }
}