// Small tablets and large smartphones (landscape view) - 368
$screen-sm-min: 576px;

// Small tablets (portrait view) - 864
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops - 1472
$screen-xl-min: 1200px;

// Max width from designs
$screen-max: 1473px;

// Small devices
@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
      @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{$screen-md-min}) {
      @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
      @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
      @content;
  }
}

// Max width from specs
@mixin max {
  @media (min-width: #{$screen-max}) {
      @content;
  }
}