// To use: 
// @import 'colors.module.scss';

/* Primary */
$black-primary: #000;
$white-primary: #FFF;
$pink-primary: #FF6666;
$green-primary: #009900;
$gray-primary: #BBB;
$yellow-primary: #FFFF66;
$mustard-primary: #999900;
$blue-primary: #000088;

/* Secondary */
$black-secondary: #111;
$green-secondary: #66FF66;
$magenta-secondary: #FF66FF;
$cyan-secondary: #66FFFF;

@mixin important {
  color: $yellow-primary;
  background-color: $blue-primary;
}

@mixin default {
  color: $blue-primary;
  background-color: $gray-primary;
}