// @import 'fonts.module.scss';

$regular: 'NON-Natural-Grotesk-Regular';

@mixin medium-logo {
  font-family: $regular;
  font-size: 32px;
  line-height: 40px;
  font-weight: 400;
}

@mixin small-logo {
  font-family: $regular;
  font-size: 28px;
  line-height: 40px;
  font-weight: 400;
}

@mixin big-label {
  font-family: $regular;
  font-size: 32px;
  line-height: 56px;
  font-weight: 400;
}

@mixin medium-label {
  font-family: $regular;
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
}

@mixin small-label {
  font-family: $regular;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
}

@mixin big-body {
  font-family: $regular;
  font-size: 32px;
  line-height: 56px;
  font-weight: 400;
}

@mixin medium-body {
  font-family: $regular;
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
}

@mixin small-body {
  font-family: $regular;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
}

@font-face {
  font-family: 'NON-Natural-Grotesk-Regular';
  src: url('../public/fonts/ttf/NON-Natural-Grotesk-Regular.ttf'),
      url('../public/fonts/otf/NON-Natural-Grotesk-Regular.otf'),
      url('../public/fonts/woff2/NON-Natural-Grotesk-Regular.woff'),
      url('../public/fonts/woff2/NON-Natural-Grotesk-Regular.woff2');
}
