@import '../../styles/breakpoints.module.scss';
@import '../../styles/colors.module.scss';
@import '../../styles/fonts.module.scss';

.container {
  padding: 24px 0;
  @include md {
    padding: 32px 16px;
  }
  @include lg {
    padding: 0px;
  }
}

.input {
  box-sizing: border-box;
  border: 1px solid $white-primary;
  padding: 12px 24px;
  caret-color: $blue-primary;
  width: 210px;
  height: 50px;

  @include small-label;
  @include md {
    @include medium-label;
    width: 410px;
    height: 53px;
  }
  @include lg {
    width: 257px;
  }
}

.submit {
  box-sizing: border-box;
  vertical-align: bottom; // for firefox
  cursor: pointer;
  border: 1px solid $white-primary;
  padding: 12px;
  width: 94px;
  height: 50px;  

  @include default;
  @include small-label;
  @include md { 
    @include medium-label;
    width: 111px;
    height: 53px;
  }
}

.submit:hover {
  opacity: 0.9;
}

.input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $gray-primary;
  opacity: 1; /* Firefox */
}

.input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: $gray-primary;
}

.input::-ms-input-placeholder { /* Microsoft Edge */
  color: $gray-primary;
}