@import '../styles/breakpoints.module.scss';
@import '../styles/colors.module.scss';
@import '../styles/fonts.module.scss';

.sideBar {
  display: flex;
  flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  justify-content: space-between;

  position: fixed;
  left: 0;
  top: 0;
  margin: 0;
  padding: 64px 24px 32px 36px;
  height: 100%;
  width: 88px;
  font-size: 24px;
  @include medium-label;

  @include md {
    width: 112px;
    padding: 74px 32px 32px 36px;
    @include medium-body;
  }
  
  @include lg {
    width: 120px;
    padding: 84px 24px 32px 56px;
    @include medium-logo;
  }

  @include important;
}

.sideBar > span {
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform:rotate(270deg);
  transform: rotate(270deg);
}

.sideBar > span:last-child {
  text-align: right;
}

.footer {
  position: fixed;
  display: inline-flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  gap: 16px;

  bottom: 0;
  margin: 0;
  width: 100%;

  padding: 16px;
  @include md {
    padding: 24px;
    flex-direction: row-reverse;
  }
  @include lg {
    padding: 32px;
    flex-direction: row-reverse;
  }
}

.whatDescription {
  color: $white-primary;
  @include small-body; 

  @include md {
    @include medium-body; 
  }
}

.whatDescription > div {
  margin-bottom: 32px;
}

.whatFooter {
  position: fixed;
  display: inline-flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  gap: 16px;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 16px;

  @include md {
    padding: 24px;
  }

  @include lg {
    padding: 0;
    position: relative;
    flex-direction: row-reverse;
    margin-top: 36px;
  }
}

.whatFooter > div:first-child {
  @include lg {
    order: 1;
  }
}

.background {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -999;
  pointer-events: none;
}

.preload {
  display: none;
}