@import '../../styles/breakpoints.module.scss';
@import '../../styles/colors.module.scss';
@import '../../styles/fonts.module.scss';

.header {
  width: 100%;
  display: flex;
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;

  min-height: 44px;
  @include md {
    min-height: 52px;
  }

  @include small-label;
  @include md {
    @include medium-label;
  }
}

.header:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.text {
  width: 100%;
  margin: 0;
  vertical-align: middle;
  @include important;
  
  padding: 10px 16px;
  @include md {
    padding: 12px 24px;
  }
  flex-grow: 1;
}

.minimize {
  cursor: pointer;
  border: 1px solid $white-primary;
  height: auto;
  margin: 0;

  width: 44px;
  @include md {
    width: 52px;
  }
  @include lg {
    border: 0.5px solid $white-primary;
  }
  @include default;
}

.minimize:hover {
  @include important;

  .minimizeIcon {
    fill: $yellow-primary;
  }
}

.minimizeIcon {
  fill: $blue-primary;
}

