@import '../../styles/breakpoints.module.scss';
@import '../../styles/colors.module.scss';
@import '../../styles/fonts.module.scss';

.header {
  width: 100%;
  display: flex;

  @include small-label;
  @include md {
    @include medium-label;
  }
}

.text {
  width: 100%;
  margin: 0;
  vertical-align: middle;
  @include important;
  
  padding: 10px 16px;
  @include md {
    padding: 12px 24px;
  }
}

.minimize {
  width: 44px;
  border: none;
  cursor: pointer;
  border: 0.5px solid $white-primary;

  @include md {
    width: 52px;
    height: 52px;
  }
  @include default;
}

.minimize:hover {
  @include important;

  .minimizeIcon {
    fill: $yellow-primary;
  }
}

.minimizeIcon {
  fill: $blue-primary;
}

