@import '../../styles/breakpoints.module.scss';
@import '../../styles/colors.module.scss';

.window {
  position: absolute;
}

.content {
  background-color: $black-secondary;
  height: 100%;
  width: 100%;
}

.scrollableContent {
  overflow-y: auto;
  background-color: $black-secondary;
  height: 100%;
  width: 100%;
}

.contentPadding {
  padding: 16px;

  @include md {
    padding: 24px;
  }
  @include lg {
    padding: 32px;
  }
}

.fullscreen {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: $black-secondary;
}

.header {
  position: sticky;
  width: 100%;
  left: 0;
  z-index: 999;
}

.invisibleHeader {
  visibility: hidden;
  position: sticky;
  width: 100%;
  left: 0;
  height: 52px;
}

.slideUpAnimation {
  top: -60px;
  animation-name: slideUp;
	animation-iteration-count: 1;
	animation-timing-function: cubic-bezier(0.25, 0.1, 0.5, 1);
	animation-duration: 200ms;
}

.slideDownAnimation {
  top: 0px;
  animation-name: slideDown;
	animation-iteration-count: 1;
	animation-timing-function: cubic-bezier(0.25, 0.1, 0.5, 1);
	animation-duration: 200ms;
}

@keyframes slideDown {
	0% {
    transform: translateY(-60px);
	}
	100% {
    top: 0;
	}
}

@keyframes slideUp {
	0% {
    top: 0;
	}
	100% {
    transform: translateY(-60px);
	}
}