@import '../../styles/breakpoints.module.scss';
@import '../../styles/colors.module.scss';
@import '../../styles/fonts.module.scss';

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.content {
  @include small-label;
  padding: 0 18px;
  width: 100%;
  margin: auto 0;

  @include md {
    @include medium-label;
    padding: 0 24px;
  }

  @include lg {
    padding: 0 152px;
  }

  @include max {
    max-width: 1280px;
  }
}

.concept {
  @include lg {
    display: flex;
  }
}
.concept > h3 {
  color: $white-primary;
  @include medium-body;
  @include lg {
    flex: 2;
  }
}
.concept > p {
  color: $gray-primary;
  @include medium-body;
  @include lg {
    flex: 3;
  }
}

.participants {
  @include lg {
    display: flex;
  }
}
.participants > h3 {
  color: $white-primary;
  @include medium-body;
  @include lg {
    flex: 2;
  }
}
.participants > p {
  @include medium-body;
  @include lg {
    flex: 3;
  }
}

.line {
  @include medium-body;
  color: $gray-primary;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  margin: 12px 0;
}

$colors: (1: $green-secondary, 2: $yellow-primary, 3: $pink-primary, 4: $magenta-secondary, 5: $cyan-secondary, 6: $mustard-primary, 7: $green-primary);
@each $key, $value in $colors
{
  .color-#{$key}
  {
    color: $value;
  }
}

.separator {
  color: $gray-primary;
  padding: 0 6px;
}

.button {
  width: 100%;
  margin-bottom: 100px;
  text-align: center;
}