@import '../../styles/breakpoints.module.scss';
@import '../../styles/colors.module.scss';
@import '../../styles/fonts.module.scss';

.navigationButton {
  display: inline-flex;
  justify-content: space-between;
  min-height: 44px;
}

.navigationButton:hover {
  cursor: pointer;

  .arrowContainer {
    @include important;
  }
  .arrow > path {
    fill: $yellow-primary;
  }
}



.navigationText {
  margin: 0;
  padding: 12px;
  position: relative;
  color: $white-primary;
  @include small-label;
  border: 1px solid $white-primary;
}

.arrowContainer {
  border: 1px solid $white-primary;
  //padding: 15px;
  position: relative;
  transform-origin:0 100%;
  display: inline-block;
  width: 52px;
  height: 52px;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 18.2px;
  padding-bottom: 18.2px;
}

.important {
  @include important;
}

.default {
  @include default;
}